<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Book App</title> 
       </head>
        <body>
         <header>
            <a href="/new">Add a New Book</a>
            <a href="/">Home</a>  
               </header> 

  <ul>
    <% books.forEach(book => { %>
        <li> 
            <img src="<%= book.image_url %>"> 
            <h2><%=book.title %></h2>
            <h3><%=book.author%></h3>
            <p><%=book.description%></p>
            <form action="/edit" method="post">
                <input type="hidden" name="image_url" value="<%= book.image_url%>">
                <input type="hidden" name="title" value="<%= book.title%>">
                <input type="hidden" name="author" value="<%= book.author%>">
                <input type="hidden" name="description" value="<%= book.description%>">
                <input type="hidden" name="isbn" value="<%= book.isbn%>">
                <button type="submit">Select this Book</button>
            </form>
        </li>
    <% }) %>

</ul>
<footer>   
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>
</html> 