<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Book Collection</title>
  <link href="/styles/base.css" rel="stylesheet" type="text/css" />
  <link href="/styles/layout.css" rel="stylesheet" type="text/css" />
  <link href="/styles/modules.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <main>
    <!-- Simulate a smartphone / tablet -->
    <div class="mobile-container">
      <!-- Top Navigation Menu -->
      <div class="topnav">
        <a href="/" class="active">Home</a>
        <div id="myLinks">
          <a href="/new">Add a New Book</a>
          <!-- <a href="/">Home</a> -->
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <section id="all">
        <%let conut=0%>
        <% booksList.forEach(book => { %>
        <div id="fiv">
          <%++conut%>
          <h2 class="title"><%= book.title%></h2>
          <img src=<%= book.image_url%>>
          <h3 class="author">Author :<%= book.author%></h3>
          <form action="/books/<%= book.id%>" method="GET">
            <button type="submit">View Details</button>
          </form>
        </div>
        <% }) %>
      </section>
    </div>
  </main>
  <footer>
    <h2>BOOKS AMOUNT : <%=conut%></h2>
  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</body>

</html>